[package]
name = "rasn-cms"
version = "0.6.0"
edition = "2018"
description = "Data types for handling Cryptographic Message Syntax."
license = "Apache-2.0/MIT"

[dependencies.rasn]
version = "0.6.0"
path = "../.."

[dependencies.rasn-pkix]
version = "0.6.0"
path = "../pkix"
