[package]
name = "rasn-derive"
version = "0.6.0"
categories = ["encoding", "no-std", "parser-implementations"]
authors = ["Erin Power <xampprocky@gmail.com>"]
edition = "2021"
description = "Derive macros for rasn."
license = "MIT/Apache-2.0"
exclude = ["fuzzing"]
keywords = ["asn1", "der", "ber", "cer", "per"]
repository = "https://github.com/XAMPPRocky/rasn.git"

[lib]
proc-macro = true

[dependencies]
syn = { version = "1.0.39", features = ["extra-traits"] }
quote = "1.0.7"
proc-macro2 = "1.0.19"
itertools = "0.10.1"
uuid = { version = "1.1.2", default-features = false, features = ["v4"] }
either = { version = "1.8.0", default-features = false }
